/* ################# STATS ################## */
.container-fluid {
    overflow: auto;
}

/********* Tab styling ***********/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    margin: 0 0px;
    width: 180px; /* add a fixed width */
    height: 80px;
    text-align: center; /* center the text within the button */
}

@media (max-width: 576px) { /* targeting small devices */
    .tab {
        display: flex; /* turns the container into a flexbox container */
        justify-content: center; /* centers the flex items along the horizontal line */
        flex-wrap: wrap; /* allows the flex items to wrap onto multiple lines */
    }

    .tab button {
        margin: 10px auto; /* gives equal margin to top/bottom and auto margin to left/right */
    }
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffffff;
    color: hotpink;
}

/* ################# STATS ################## */
#avatar {
    display:inline;
    width: 30px;
    height: auto;
}

#rtp_score, #score, #win_p  {
    font-weight: bold;
}

.first {
    background-color: gold !important;
}

.second {
    background-color: silver;
}

.third {
    background-color: sandybrown;
}

.last {
    background-color: hotpink;
}

.container-fluid {
    overflow: auto;
}






