/*
/* #####
############ STATS ################## */
#avatar {
    display:inline;
    width: 30px;
    height: auto;
}

#rtp_score, #score, #win_p  {
    font-weight: bold;
}

.table-striped tbody tr.first {
    background-color: gold;
}

.table-striped tbody tr.second {
    background-color: silver;
}

.table-striped tbody tr.third {
    background-color: sandybrown;
}

.table-striped tbody tr.last {
    background-color: hotpink;
}


.container-fluid {
    overflow: auto;
}

/********* Tab styling ***********/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    justify-content: center;
}



/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button.active {
    color: hotpink !important;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #9a2b2b;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
