#avatar {
    display:inline;
    width: 30px;
    height: auto;
}

#rtp_score {
    font-weight: bold;
}

.first {
    background-color: gold;
}

.second {
    background-color: silver;
}

.third {
    background-color: sandybrown;
}

.last {
    background-color: hotpink;
}