<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>Created By</h5>
                <hr class="light">
                <p>Monsieur Waldheim</p>
            </div>
            <div class="col-md-4" style="margin: auto">
                <hr class="light">
                <i class="fas fa-road" style="color: hotpink"></i>
                <hr class="light">
                <p>Road To Pink</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Other Links</h5>
                <hr class="light">
                <p>Facebook group  <a href="https://www.facebook.com/groups/526710621293900"><i class="fab fa-facebook-f fa-large"></i></a></p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy; The Dakstreet Boys 2021</h5>
            </div>
        </div>
    </div>
</footer>

<!-- CDNs -->

<!--Bootstrap JS Bundle -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>