#form { 
  background: rgba(0, 0, 0, 0.15); 
  padding: 0.25rem; 
  position: relative; 
  display: flex; 
  height: 3rem; 
  box-sizing: border-box; 
  backdrop-filter: blur(10px);
}   

#input { 
  width: 0;
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 
}   

#input:focus { 
  outline: none; 
}  

#form > button { 
  background: #333; 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: #fff; 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 1rem;
  height: 90%;
  overflow-y: scroll;
  overflow-x: auto;
  vertical-align: bottom;
  overscroll-behavior: contain;
} 

#messages > li { 
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
}  
   
.container {
  width: auto;
  vertical-align: bottom;
  overflow: hidden;
}

.msg-container {
  height: 40rem;
}

/* Single msg formatting */
/* Shared */


.msg-header {
  margin-bottom: -0.5rem;
}

.msg-avatar {
  width: 50px;
  height: auto;
}

.msg-username {
  overflow: hidden;
  margin-left: -0.5rem;
  padding: 0;
  align-self: center;
  font-weight: bold;
}

.msg-datetime {
  overflow: hidden;
  padding: 0;
  margin-top: -0.9rem;
  color: gray;
  font-size: xx-small;
  text-align: left;
}

.float-end .msg-datetime {
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  margin-inline-end: 3rem;
  color: gray;
  font-size: xx-small;
  text-align: right;
}

.msg-item {
  width: fit-content;
  max-width: 100%;
  padding: 0;
  background: #efefef;
  border-radius: 1rem;
}

.msg-content {
  margin: 0;
  padding: 0.5rem;
  overflow-wrap: anywhere;
}
